@media only screen and (max-width: 600px) {
  body #html-body {
    background: #555;
    margin-left: 0;
  }
}

body {
  background: #bbbaba;
}

.form-container {
  width: 300px;
  background: linear-gradient(
    180deg,
    rgb(73, 73, 73) 25%,
    rgb(139, 174, 179) 20%
  );
  height: 350px;
  /* Temporary hidden */
  display: flex;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 50%;
  border-radius: 3%;
  transform: translate(-50%, -10%);
  z-index: 999;
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.form-container p {
  position: absolute;
  top: 0%;
  left: 10%;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  color: rgb(139, 174, 179);
}

.form-container label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  margin-top: 20px;
  margin-bottom: 2px;
  font-size: 15px;
}

.form-container .username {
  padding: 10px;
  height: 35px;
  border: none;
  background-color: bisque;
}
.form-container .password {
  padding: 10px;
  height: 35px;
  border: none;
  background-color: bisque;
}

.form-container .username:focus {
  transition: 0.1s;
  transform: scale(1.01);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 1);
}
.form-container .password:focus {
  transition: 0.1s;
  transform: scale(1.01);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 1);
}

.form-container button {
  border: none;
  height: 30px;
  margin-top: 30px;
  background-color: rgb(73, 73, 73);
  color: bisque;
  font-size: 15px;
  border-radius: 5%;
}
.form-container button:focus {
  transform: scale(1.05);
  box-shadow: 0px 0px 3px 0px #212529;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Side NavBar Styling */
.logo {
  display: block;
  width: 196px;
  border-radius: 10px;
  border: 2px solid #212529;
  height: auto;
  margin-bottom: 20px;
}

#side-nav-bar {
  width: 200px; /* Set the desired width */
  height: 100vh; /* Adjust the height as needed */
  background-color: #555;
  position: fixed; /* Set the position to fixed */
  left: 0; /* Position it to the left */
  top: 0; /* Position it at the top */
  overflow: auto; /* Overflow due to float */
}

#side-nav-bar a {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding-top: 10px;
  transition: all 1s ease; /* Add transition for hover effects */
  color: bisque; /*text color */
  font-size: 20px; /* Increased font-size */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 15px;
  height: 110px;
}

#side-nav-bar a:hover {
  background-color: #212529; /* Add a hover color */
  border-radius: 10px;
}

.active {
  background-color: rgb(0, 0, 0); /* Add an active/current color */
  border-radius: 10px;
  transition: all 3s ease;
}

/* ICON STYLING */
#side-nav-bar #home {
  color: rgb(114, 230, 243);
  font-size: 50px;
}
#side-nav-bar #about {
  color: rgb(139, 174, 179);
  font-size: 50px;
}
#side-nav-bar #contact {
  color: rgb(139, 174, 179);
  font-size: 50px;
}
#side-nav-bar #repo {
  color: rgb(139, 174, 179);
  font-size: 50px;
}
#side-nav-bar #cvicon {
  color: rgb(139, 174, 179);
  font-size: 50px;
}

#side-nav-bar a #cv:hover {
  transition: 1s;
}

.flip {
  rotate: 20deg;
}
/* Main Page content */
#main-page {
  margin-left: 200px; /* Adjust the margin to create space next to the navigation bar */
  padding: 10px; /* Add padding to the main page content */
}

.portfolio-content {
  order: -1;
  padding: 20px;
  background-color: #b7cad3;
  box-shadow: #212529;
  border-radius: 10px;
}

.h1 {
  color: rgb(0, 0, 0);
  font-size: 70px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: -10px;
  margin-bottom: -5px;
  text-shadow: 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #3d3d3d, 0 0 10px #3d3d3d,
    0 0 50px #3d3d3d, 0 0 60px #3d3d3d, 0 0 20px #3d3d3d;
}

.h2 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
