@media only screen and (max-width: 600px) {
  body #html-body {
    background: #555;
    margin-left: 0;
  }
}

body {
  background: #bbbaba;
}

.form-container {
  width: 300px;
  background: linear-gradient(
    180deg,
    rgb(73, 73, 73) 25%,
    rgb(139, 174, 179) 20%
  );
  height: 350px;
  /* Temporary hidden */
  display: flex;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 50%;
  border-radius: 3%;
  transform: translate(-50%, -10%);
  z-index: 999;
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.form-container p {
  position: absolute;
  top: 0%;
  left: 10%;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  color: rgb(139, 174, 179);
}

.form-container label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  margin-top: 20px;
  margin-bottom: 2px;
  font-size: 15px;
}

.form-container .username {
  padding: 10px;
  height: 35px;
  border: none;
  background-color: bisque;
}
.form-container .password {
  padding: 10px;
  height: 35px;
  border: none;
  background-color: bisque;
}

.form-container .username:focus {
  transition: 0.1s;
  transform: scale(1.01);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 1);
}
.form-container .password:focus {
  transition: 0.1s;
  transform: scale(1.01);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 1);
}

.form-container button {
  border: none;
  height: 30px;
  margin-top: 30px;
  background-color: rgb(73, 73, 73);
  color: bisque;
  font-size: 15px;
  border-radius: 5%;
}
.form-container button:focus {
  transform: scale(1.05);
  box-shadow: 0px 0px 3px 0px #212529;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Side NavBar Styling */
.logo {
  display: block;
  width: 196px;
  border-radius: 10px;
  border: 2px solid #212529;
  height: auto;
  margin-bottom: 20px;
}

#side-nav-bar {
  width: 200px; /* Set the desired width */
  height: 100vh; /* Adjust the height as needed */
  background-color: #555;
  position: fixed; /* Set the position to fixed */
  left: 0; /* Position it to the left */
  top: 0; /* Position it at the top */
  overflow: auto; /* Overflow due to float */
}

#side-nav-bar a {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding-top: 10px;
  transition: all 1s ease; /* Add transition for hover effects */
  color: bisque; /*text color */
  font-size: 20px; /* Increased font-size */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 15px;
  height: 110px;
}

#side-nav-bar a:hover {
  background-color: #212529; /* Add a hover color */
  border-radius: 10px;
}

.active {
  background-color: rgb(0, 0, 0); /* Add an active/current color */
  border-radius: 10px;
  transition: all 3s ease;
}

/* ICON STYLING */
#side-nav-bar #home {
  color: rgb(114, 230, 243);
  font-size: 50px;
}
#side-nav-bar #about {
  color: rgb(139, 174, 179);
  font-size: 50px;
}
#side-nav-bar #contact {
  color: rgb(139, 174, 179);
  font-size: 50px;
}
#side-nav-bar #repo {
  color: rgb(139, 174, 179);
  font-size: 50px;
}
#side-nav-bar #cvicon {
  color: rgb(139, 174, 179);
  font-size: 50px;
}

#side-nav-bar a #cv:hover {
  transition: 1s;
}

.flip {
  rotate: 20deg;
}
/* Main Page content */
#main-page {
  margin-left: 200px; /* Adjust the margin to create space next to the navigation bar */
  padding: 10px; /* Add padding to the main page content */
}

/* PORTFOLIO SECTION */
.portfolio-content-section {
  order: -1;
  padding: 20px;
  background-color: rgb(139, 174, 179);
  border-radius: 10px;
  height: 92vh;
}

.h1-portfolio {
  color: rgb(0, 0, 0);
  font-size: 80px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: -10px;
  margin-bottom: -5px;
  text-shadow: 0 0 10px#bbbaba, 0 0 10px #bbbaba, 0 0 10px #bbbaba,
    0 0 10px #3d3d3d, 0 0 100px #3d3d3d, 0 0 10px #3d3d3d, 0 0 20px #3d3d3d;
}

.h2-portfolio {
  color: #3d3d3d;
  font-size: 30px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* ABOUT ME SECTION */
.aboutme-content-section {
  margin-top: 20px;
  order: -1;
  padding: 20px;
  background-color: rgb(139, 174, 179);
  border-radius: 10px;
  height: 92vh;
}

.h1-about {
  color: rgb(0, 0, 0);
  font-size: 80px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 10px;
  margin-bottom: -5px;
  text-shadow: 0 0 10px#bbbaba, 0 0 10px #bbbaba, 0 0 10px #bbbaba,
    0 0 10px #3d3d3d, 0 0 10px #3d3d3d, 0 0 20px #3d3d3d;
}
.h1-skills {
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 20px;
  margin-bottom: -20px;
  text-shadow: 0 0 10px#bbbaba, 0 0 10px #bbbaba, 0 0 10px #bbbaba,
    0 0 10px #3d3d3d, 0 0 10px #3d3d3d, 0 0 20px #3d3d3d;
}
.h1-hobbies {
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 20px;
  margin-bottom: -20px;
  text-shadow: 0 0 10px#bbbaba, 0 0 10px #bbbaba, 0 0 10px #bbbaba,
    0 0 10px #3d3d3d, 0 0 10px #3d3d3d, 0 0 20px #3d3d3d;
}

.para-about {
  margin-top: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: large;
  text-align: center;
  word-break: break-word;
  margin-bottom: 10px;
}

/* CONTACT ME SECTION */
.contactme-content-section {
  margin-top: 20px;
  order: -1;
  padding: 20px;
  background-color: rgb(139, 174, 179);
  border-radius: 10px;
  height: 92vh;
}

.h1-contact {
  color: rgb(0, 0, 0);
  font-size: 80px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: -10px;
  margin-bottom: -5px;
  text-shadow: 0 0 10px#bbbaba, 0 0 10px #bbbaba, 0 0 10px #bbbaba,
    0 0 10px #3d3d3d, 0 0 10px #3d3d3d, 0 0 10px #3d3d3d, 0 0 20px #3d3d3d;
}

.contact-form {
  padding: 10px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: bisque;
}

.contact-form:focus {
  transition: 0.1s;
  transform: scale(1.01);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 1);
}

#message {
  width: 300px;
  height: 100px;
}

/* INTRO PARAGRAPH STYLING */
.para {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: large;
  text-align: center;
  word-break: break-word;
  margin-bottom: 30px;
}

/* IMAGE CONTAINER STYLING */
.image-container {
  display: flex;
  justify-content: center;
}

.image-container img {
  /* width: 33.33%; */
  width: 30%;
  height: auto;
  border-radius: 10px;
  margin-right: 50px;
  margin-bottom: 50px;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 4);
}

.image-container img:last-child {
  margin-right: 0;
}

/* BUTTONS */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  z-index: 1;
  position: relative;
  font-weight: 1000;
  font-size: 16px;
  box-shadow: 4px 8px 19px -3px#212529;
  transition: all 250ms;
  overflow: hidden;
  border: unset;
  border-radius: 5px;
  background-color: bisque;
  font-size: large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 5px;
  background-color: #212529;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px #212529;
  box-shadow: 4px 8px 19px -3px #212529;
  transition: all 400ms;
}

button:hover {
  color: bisque;
}

button:hover::before {
  width: 100%;
}

.line {
  border-color: #212529;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
