body {
  background-color: grey;
}

/* Login Form Styling */
h1 {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(90, 86, 86);
  /* Temporary hide login */
  /* display: none; */
}

.form-container {
  width: 300px;
  background: linear-gradient(
    180deg,
    rgb(73, 73, 73) 25%,
    rgb(139, 174, 179) 20%
  );
  height: 350px;
  /* Temporary hidden */
  display: flex;
  /* display: none; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10rem;
  left: 50%;
  border-radius: 3%;
  transform: translate(-50%, -10%);
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.form-container p {
  position: absolute;
  top: 0%;
  left: 10%;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  color: rgb(139, 174, 179);
}

.form-container label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  margin-top: 20px;
  margin-bottom: 2px;
  font-size: 15px;
}

.form-container .username {
  padding: 10px;
  height: 35px;
  border: none;
  background-color: bisque;
}
.form-container .password {
  padding: 10px;
  height: 35px;
  border: none;
  background-color: bisque;
}

.form-container .username:focus {
  transition: 0.1s;
  transform: scale(1.01);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 1);
}
.form-container .password:focus {
  transition: 0.1s;
  transform: scale(1.01);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 1);
}

.form-container .passward:focus {
  outline: none;
}

.form-container button {
  border: none;
  height: 30px;
  margin-top: 30px;
  background-color: rgb(73, 73, 73);
  color: white;
  font-size: 15px;
  border-radius: 5%;
}
.form-container button:focus {
  transform: scale(1.05);
  box-shadow: 0px 0px 3px 0px #212529;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* main page
/* Side NavBar Styling */
.image {
  size: 150px;
}

.icon-bar {
  width: 150px; /* Set a specific width */
  background-color: #555; /* Dark-grey background */
  /* border-radius: 5px; */
}

.icon-bar a {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding: 16px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font-size */
  border-radius: 5px;
}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

.active {
  background-color: rgb(139, 174, 179); /* Add an active/current color */
}
